<html>
    <head>
        <title>Person</title>
    </head>
    <body>
        <form action="/adduser" method="post">
            <table>
                <tr>
                    <th>Name:</th>
                    <td><input type="text" name="name"></td>>
                </tr>
                <tr>
                    <th>Age:</th>
                    <td><input type="text" name="age"></td>>
                </tr>
                <tr>
                    <th>Nationality:</th>
                    <td><input type="text" name="nationality"></td>>
                </tr>
                <tr>
                    <td><input type="submit" value="submit"></td>
                </tr>
            </table>
         </form>
    </body>
</html>